* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgba(18,33,23,255);
    overflow: hidden;
    height: 100vh;
}

.browser {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: rgba(18,33,23,255);
    border: none;
    position: relative;
    overflow: hidden;
}

.tabs-container {
    display: flex;
    background: none;
    height: 50px;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
}

.tabs {
    display: flex;
    flex: 1;
    align-items: center;
}

.tab-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    background: rgb(6, 199, 105);
    border: solid 0.2rem rgb(52, 238, 136);
    height: 40px;
    margin: 5px;
    border-radius: 0.5rem;
    font-size: 16px;
    width: 10rem;
    color: #333;
    cursor: pointer;
    transition: background 0.2s;
    position: relative;
}

.tab-button.active {
    background: rgb(6, 199, 105);
    color: #4a4b4c;
}

.tab-button:hover {
    background: rgb(6, 199, 105);
}

.tab-button.active > .close-tab {
    color: #314901;
}

.tab-button:hover > .close-tab {
    color: #000000;
}

.tab-button .close-tab {
    background: none;
    align-self: flex-end;
    border: none;
    color: #314901;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translateY(-45%);
    right: 0.8rem;
    z-index: 1;
}

.add-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    color: rgb(255, 255, 255);
    border: none;
    height: 40px;
    width: 40px;
    margin: 5px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.2s;
}

.address-bar {
    display: flex;
    padding: 10px;
    background: #f9f9f9;
    align-items: center;
    height: auto;
    background: none;
    border-bottom: solid white 0.5rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.address-bar button {
    background: none;
    color: white;
    font-size: 1.7rem;
    border: none;
    width: min-content;
    height: min-content;
}

#url-input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 2rem;
    outline: none;
    background: black;
    color: white;
    margin: 0.5rem;
    width: 85%;
}

#go-button {
    display: none;
}

.views {
    flex: 1;
    position: relative;
}

.view {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.view iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.view.active {
    display: block;
}

.crosshair {
    position: absolute;
    width: 30px;
    height: 30px;
    pointer-events: none;
    background: none;
    border: 4px solid rgba(8, 242, 8, 0.8);
    z-index: 99999;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

#particle-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
    overflow: hidden;
}